@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f1f1f1;
  --background: #15151e;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}
